{% extends 'bookHandler/base.html' %}

{% block body %}

<div class="container mb-4 w-80">
    <h1>Welcome to Niseko Book Club!</h1>
</div>
<div class="row bg-light justify-content-center"> Current List of Books</div>

<div class="container mb-4 justify-content-start" id="mainBookList">
{% for book, author in book_list_with_author %}
    <div class="row">
        <div class="col"> <a href=" {% url  'bookHandler:detail_abstract' book.id %}">{{ book.title }} </a> ({{ author }}) </div>
    </div>
{% endfor %}
</div>
{% endblock %}