{% extends 'bookHandler/base.html' %}

{% block body %}

<div class="container">
    <div class="row bg-light">
        <h2> {{ book.title }} </h2>
        
    </div>
    <div class="row">
        <div class="col offset-1">
            <h3> {% for author in author_list %} 
                <a href="{% url 'bookHandler:detail_author' author.id %}">{{ author }} </a>
                {% if not forloop.last %} , {% endif %} {% endfor %} </h3>
            <ul>
                <li> ISBN = {{ book.isbn }}</li>
                <li> {% for genre_label in genre_list %} {{ genre_label }} {% endfor %} </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-1"> Book summary:</div>
        <div class="col">
            {{ book.summary }}
        </div>
    </div>

    <div class="row">
        List of existing books for this title:
    </div>

    <table class="table align-middle">
        <thead class="thead-light"> <tr><th> id </th> <th> Created Date </th> <th> Status </th> <th> Owner </th> <th>Status</th>  </tr></thead>
        {% for actualBook in actual_list %}
            <tr> <td class="align-middle"> <a href="{% url 'bookHandler:detail_actual' actualBook.id %}">{{actualBook.id | truncatechars:10}} </a></td> 
                <td class="align-middle"> {{ actualBook.created_date | timesince }} </td> 
                <td class="align-middle"> {{ actualBook.get_status_display }} </td> 
                <td class="align-middle"> {{ actualBook.owner }} </td> 
            <td class="align-middle">
            {% if actualBook.status == actualbook.AVAILABLE %}
            <form method="POST" action="{% url 'bookHandler:new_transaction' actualBook.id %}" class="form-inline"> 
                {% csrf_token %} <button type="submit" class="btn btn-primary"  >Request</button> 
            </form> {% else %} <a class="btn btn-secondary btn-disabled">(Request)</a> {% endif %}</td>
            </tr>
        {% endfor %}
    </table>


</div>


{% endblock %}