{% extends 'bookHandler/base.html' %}

{% block title %} Niseko Book Club : My Books {% endblock %}

{% block body %}

<div class="row justify-content-center mb-4">
    <div class="col-10">
        <h3> My Books</h3>
        {% for actual_book, current_transaction in book_list %}
            <div class="row border rounded border-secondary mb-1">
                <div class="col-sm-auto"><h5><a href="{% url 'bookHandler:detail_actual' actual_book.id %}">{{ actual_book.abstract_book.title }}  </a> </h5> </div>
                <div class="col-sm-4 col-md-auto"><em>({% for author in actual_book.abstract_book.author.all %} {{ author.last_name }} {{ author.first_name }} {% if not forloop.last %} , {% endif %}  {% endfor %}) </em></div>
                <div class="col-6 col-sm-4 col-md-auto"> <em>Placeholder for physical state</em> </div>
                <div class="col-md-6"> <span class="badge {% if not current_transaction %} badge-success {% else %}  badge-primary {% endif %}"> {{ actual_book.get_status_display }}</span> {% if current_transaction %} {{ current_transaction.borrower }} until {{current_transaction.return_date }} {% endif %} </div>
                <div class="col-12"><!-- Line feed to get the buttons all on one line--></div>
                <div class="col-md-8 offset-sm-2 text-center">
                    {% if current_transaction %} 
                        <a href="{% url 'bookHandler:edit_transaction' current_transaction.id %}" class="btn btn-primary">Edit Transaction</a> 
                        <a href="{% url 'bookHandler:view_conversation' current_transaction.id %}" class="btn btn-primary">View Conversation</a> 
                    {% endif %}
                </div>
            </div>
        {% endfor %}

    </div>
</div>
<div class="row ">
    <div class="col-sm-4 offset-sm-1">
        <a href="{%url 'bookHandler:add_book' %}" class="btn btn-primary">Add Book</a>
    </div>
</div>

{% endblock %}