{% extends 'bookHandler/base.html' %}

{% block body %}

<h3> Edit transaction </h3>

<ul class="list-group">
    <li class="list-group-item">  {{ transaction.borrower }} requested to borrow the book below:</li>
    <li class="list-group-item"> Book Title: {{ transaction.book.abstract_book.title  }}  </li>
    <li class="list-group-item"> <em>Book author(s): {% for author in transaction.book.author.all %} {{ author }} {% if not forloop.last %} , {% endif %} {% endfor %} </em></li>
    <li class="list-group-item"> Book owner: {{ transaction.lender }} </li>
    <li class="list-group-item"> Request created on: </li>
</ul>

<form method="POST" action="{% url 'bookHandler:reply_transaction' transaction.id %}">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}