{% extends 'bookHandler/base.html' %}

{% block body %}

<div class="row mb-4 bg-light">
    <div class="col">
       <h1>User: {{ user.username }}</h1>
    </div>
</div>

<!-- Tab navbar definition -->
<ul class="nav nav-tabs" id="userProfileTabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings"> Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="transactions-tab" data-toggle="tab" href="#TransactionsHistory" role="tab" aria-controls="borrowrequests"> Request History</a>
    </li>
</ul>

<!-- Definition of the actual content of the tab panels -->
<div class="tab-content" id="userProfileTabContents">

    <!-- REQUEST HISTORY: List of all inactive requests in the past -->
    <div class="tab-pane fade" id="TransactionsHistory" role="tabpanel" aria-labelledby="transactions-tab"> 
        <div class="row justify-content-center">
            <div class="col-8 md-auto">
                <h5>Book lent request / history </h5>

                {% for lent_transaction in transaction_history %}
                    <div class="row border rounded border-secondary mb-1">
                        <div class="col-2"> <h5> {{ lent_transaction.book.abstract_book.title | truncatewords:10 }} </h5></div>
                        <div class="col"> Status: {{ lent_transaction.get_transaction_state_display }} </div>
                        <div class="col"> borrowed from: {{ lent_transaction.lend_date }} </div>
                        <div class="col"> to: {{ lent_transaction.return_date  }} ( {{ lent_transaction.return_date | timesince  }}) </div>
                        {% if lent_transaction.lender == user %}
                            <div class="col"> Lent to {{ lent_transaction.borrower  }} </div>
                        {% else %}
                            <div class="col"> Borrowed from {{ lent_transaction.lender  }} </div>
                        {% endif %}
                    </div>
                {% endfor %}

            </div>
        </div>
        
    </div>

    <div class="tab-pane fade show active" id="settings" role="tabpanel" aria-labelledby="settings-tab"> 
        <div class="row">
            <div class="col md-auto">
                <h5>Please find below your settings:</h5>
                <ul>
                    <li> Username: {{ user.username }}</li>
                    <li> Profile created on the: {{ user.date_joined }}</li>
                    <li> E-mail: {{ user.email }} </li>
                    <li>Number of books in inventory: </li>
                    <li>Number of books lent in past history:</li>
                    <li>Current number of books out: </li>
                    <li> Favourite Book Genre: </li>
                    <li> Currently Reading: </li>
                    <li> Favourite Book: </li>
                </ul>
                
            </div>
        </div>
        
    </div>

</div>

{% endblock %}